.home {
  background-image: url("../../../assets/images/clean-drop-of-water-liquid-40784.jpg");
  opacity: 0.9;
}

app-waving-water {
  position: relative;
  min-height: 100vh;
}

.last {
  text-align: center;
  align-content: center;
  padding: 2%;
  min-width: 15%;
  background-color: rgba(128, 127, 127, 0.456);
  color: white;
  border-radius: 2%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.last>h1 {
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 8em;
}

.last>p {
  font-size: 2em;
}

.detailsSection {
  margin-top: 15%;
}

.detailsSection>div>button {
  width: 100%;
  border: none;
  background-color: #000;
  border-radius: 15px;
  padding: 2%;
  color: white;
}

.details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.details>h2 {
  width: 45%;
  font-size: 1.5em;
  margin: 2%;
}

.details>h2>i {
  padding-right: 3%;
}

.details>button {
  margin-top: 10%;
}


@media only screen and (max-width: 800px) {
  .last {
    width: 100%;
    padding: 0;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .last>h1 {
    font-size: 5em;
  }
}
